[user]
        name = Crowned Prince Sire Teh Royal Super Supreme Superior Elite Ælphæ Omægæ Dæltæ Thætæ Gæmmæ Superior Commander Kernel Admiral General Commodore Brigadier Colonel Corporal Sergænt Drill Sergænt Captain Lieutenant Nathanæl Nathaniel Nathanial Nate Hero Henry Wallace Thæl Œth Wahœle Kleefeld Aikens Brown Rossi Cavazzi Royalty Ixi Xix Xi Xia Itti (([\\w]+([\\s]+)?)) Of The Entire Rælity Event Check Axi Nxi The Eighth
        email = teh@purefame.com
[core]
        excludesfile = /Volumes/slap/LAITNEDIFNOC/CONFIDENTIAL/CXC/CIT/cxc/global_gitignore